/*------------------- 
    Common styles 
---------------------*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 24px;
    color: #562EFF;

}

hr {
    width: 807px;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
}

span {
    color: #9F9F9F;
}

/*-------------------
  Top players styles
 ----------------- */

.top-players {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 36px;
    padding-bottom: 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 140px;
    grid-row-gap: 29px;
    margin-bottom: 30px
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/*---------------------
     Top blogs styles 
     -------------------*/

.top-blogs {
    background-color: #ffffff;
    width: 852px;
    height: 369px;
    padding: 30px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px 30px;
}


.blog img {
    width: 177px;
    height: 117px;
}

.blog-detail {
    padding: 6px 16px;
}

.blog-title {
    font-size: 20px;
    width: 164px;
    height: 68px;
    margin-bottom: 0;
}

.blog-author {
    color: #562EFF;
    text-decoration: none;
}